.hero-bg{

position:absolute;

inset:0;

overflow:hidden;

z-index:-1;

}

.circle{

position:absolute;

border-radius:50%;

filter:blur(120px);

opacity:.35;

}

.one{

width:420px;

height:420px;

background:#00ff88;

left:-100px;

top:-100px;

}

.two{

width:520px;

height:520px;

background:#00bfff;

right:-180px;

top:100px;

}

.three{

width:500px;

height:500px;

background:#00ff88;

left:35%;

bottom:-250px;

}
