.hero-stats{

display:flex;

justify-content:center;

align-items:center;

gap:30px;

margin-top:80px;

flex-wrap:wrap;

}

.stat-card{

width:210px;

padding:25px;

background:rgba(0,255,136,.05);

border:1px solid rgba(0,255,136,.2);

backdrop-filter:blur(10px);

transition:.35s;

border-radius:12px;

text-align:center;

}

.stat-card:hover{

transform:translateY(-8px);

box-shadow:0 0 25px rgba(0,255,136,.35);

}

.stat-card h2{

font-size:46px;

color:#00ff88;

margin-bottom:10px;

}

.stat-card span{

letter-spacing:2px;

color:#bcbcbc;

font-size:14px;

text-transform:uppercase;

}
