.terminal{

width:900px;

max-width:90%;

margin:70px auto;

background:#050505;

border:1px solid #00ff88;

border-radius:10px;

overflow:hidden;

box-shadow:0 0 30px rgba(0,255,136,.2);

}

.terminal-header{

height:45px;

display:flex;

align-items:center;

padding:0 20px;

background:#111;

}

.red,
.yellow,
.green{

width:12px;
height:12px;
border-radius:50%;
margin-right:10px;

}

.red{

background:#ff4d4d;

}

.yellow{

background:#ffd633;

}

.green{

background:#00ff88;

}

.terminal-header h3{

margin-left:15px;

font-size:14px;

font-weight:400;

letter-spacing:2px;

color:#00ff88;

}

.terminal-body{

padding:25px;

font-family:monospace;

font-size:15px;

line-height:2;

color:#00ff88;

min-height:260px;

}

.terminal-body p{

animation:fade .4s ease;

}

@keyframes fade{

from{

opacity:0;
transform:translateY(10px);

}

to{

opacity:1;
transform:translateY(0);

}

}
