.timeline{

padding:140px 8%;

background:#050505;

}

.timeline h2{

font-size:60px;

margin-bottom:70px;

color:white;

}

.timeline-line{

position:relative;

margin-top:40px;

}

.timeline-line::before{

content:"";

position:absolute;

left:50%;

top:0;

width:2px;

height:100%;

background:#00ff88;

}

.timeline-card{

position:relative;

width:44%;

padding:30px;

margin-bottom:60px;

border:1px solid rgba(0,255,136,.2);

background:rgba(0,255,136,.05);

border-radius:12px;

}

.timeline-card:nth-child(even){

margin-left:auto;

}

.year{

display:inline-block;

padding:8px 18px;

background:#00ff88;

color:#000;

font-weight:bold;

margin-bottom:20px;

}

.timeline-card h3{

color:#00ff88;

margin-bottom:15px;

}

.timeline-card p{

line-height:1.8;

color:#bdbdbd;

}

@media(max-width:900px){

.timeline-line::before{

display:none;

}

.timeline-card{

width:100%;

}

}
